body {
    background-color: #dad6ca;
}
header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #563444;
    box-sizing: border-box;
}
header{
    background-color:#1bb0ce;
}
section {
    background: #dad6ca;
    
}
*{
    font-family: sans-serif;
}
table {
    border-color: black;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.online {
    color: green;
}

.offline {
    color: red;
}

