*{
    font-family: sans-serif;
    
}
button {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}
